html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif
}

/* TYPOGRAPHY */

.main-title {
  font-weight: 200;
  font-size: 1.375rem;
  color: #969696;
}

.main-title-accent {
  font-weight: 700;
  color: #15202A;
}

.main-text {
  font-weight: 300;
  font-size: .75rem;
  color: #15202A;
}

.main-input::placeholder {
  color: #B8C7ED;
  font-size: .75rem;
}

.main-error-msg {
  color: #FF5466;
  font-size: 0.625rem;
  font-weight: 200;
}

.main-button {
  color: #FFFFFF;
}

.copyright {
  font-size: 0.625rem;
  font-weight: 300;
  color: #9B9B9B;
}

/* LAYOUT */

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  width: 100%;
}

.main-logo {
  width: 15%;
  margin-top: 4em;
  margin-bottom: 1.5em;
}

.main-title {
  margin-bottom: 1em;
}

.main-text {
  margin-bottom: 2.5em;
}

.main-error-msg {
  font-style: italic;
  margin-top: .5em;
}

.main-input,
.main-button {
  width: 281px;
  height: 40px;
  border-radius: 20px;
}

.main-input {
  border: 1.5px solid #C2D3FF; 
  outline: none;
  text-indent: 20px;
}

.main-input.active {
  border-color: #FF5466;
}

.main-input:placeholder-shown {
  text-indent: 20px;
}

.main-error-msg {
  display: none;
}

.main-error-msg.active {
  display: block;
}

.main-button {
  border: 1.5px solid #4C7BF3;
  background-color: #4C7BF3;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
  margin-top: 2em;
  margin-bottom: 3em;
}

.main-button:hover,
.main-button:focus {
  cursor: pointer;
}

.image {
  width: 85%;
  margin-bottom: 6em;
}

.social-media-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.5em;
}

.fa-brands {
  color: #4C7BF3;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .4125em;
  border: solid .25px #4C7BF3;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.fa-brands:hover,
.fa-brands:focus {
  color: #FFFFFF;
  background-color: #4C7BF3;
  cursor: pointer;
}

.copyright {
  margin-bottom: 3em;
}

@media (min-width: 800px) {
  .container {
    max-width: 1440px;
    width: 100%;
  }

  .main-logo {
    width: 3%;
  }

  .main-title {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .main-text {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }